<div class="container my-5">
  <div class="row">

    <h1 class="mb-5">Test Frontend Melo - Empleados CRUD</h1>
    <!-- ---------- Form Create/Updtate Employee ---------- -->
    <div class="col-md-3">
      <form [formGroup]="formEmployee">

        <div class="mb-3">
          <label class="form-label">DNI</label>
          <input type="text" class="form-control" formControlName="dni">
        </div>
  
        <div class="mb-3">
          <label class="form-label">Nombre</label>
          <input type="text" class="form-control" formControlName="name">
        </div>
  
        <div class="mb-3">
          <label class="form-label">Apellido</label>
          <input type="text" class="form-control" formControlName="surname">
        </div>
  
        <div class="mb-3">
          <label class="form-label">Email</label>
          <input type="email" class="form-control" formControlName="email">
        </div>
  
        <div class="mb-3">
          <label class="form-label">Edad</label>
          <input type="number" class="form-control" formControlName="age">
        </div>

        <div class="mb-3">
          <label class="form-label">Fecha de Nacimiento</label>
          <input type="email" class="form-control" formControlName="dateOfBirth">
        </div>
  
        <div class="mb-3">
          <label class="form-label">Departamento</label>
          <select class="form-select" aria-label="Default select example" formControlName="department">
            <option value="Administración">Administración</option>
            <option value="Tienda">Tienda</option>
            <option value="Contabilidad">Contabilidad</option>
          </select>
        </div>
        
        <!-- ---------- Create Employee ---------- -->
        <div class="text-center">
          <button *ngIf="this.editEmployee == false" type="button" class="btn btn-primary m-2" [disabled]="this.formEmployee.invalid" (click)="create(formEmployee.value)">Crear Empleado</button>
  
          <!-- ---------- Cancel Edit Employee ---------- -->
          <button *ngIf="this.editEmployee == true" type="button" class="btn btn-primary m-2" (click)="cancel()">Cancelar</button>
  
          <!-- ---------- Edit Employee ---------- -->
          <button *ngIf="this.editEmployee == true" type="button" class="btn btn-primary m-2" [disabled]="this.formEmployee.invalid" (click)="update(formEmployee.value)">Editar Empleado</button>
        </div>
      </form>
    </div>


    <!-- ---------- Table List Employees ---------- -->
    <div class="col-md-9">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">DNI</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Email</th>
            <th scope="col">Edad</th>
            <th scope="col">Departamento</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody *ngIf="this.employees.length > 0">
          <tr *ngFor="let employee of this.employees">
            <th scope="row">{{employee.dni}}</th>
            <td>{{employee.name}}</td>
            <td>{{employee.surname}}</td>
            <td>{{employee.email}}</td>
            <td>{{employee.age}}</td>
            <td>{{employee.department}}</td>
            <td>
              <button type="button" class="btn btn-primary m-2" (click)="edit(employee)">Editar</button>
              <button type="button" class="btn btn-danger m-2" (click)="delete(employee.dni)">Eliminar</button>
            </td>
          </tr>          
        </tbody>


        <!-- ---------- if there are no employees, show this ---------- -->
        <tbody *ngIf="this.employees.length == 0">
          <tr>
            <p>No hay Empleados</p>
          </tr>          
        </tbody>
      </table>
    </div>

  </div>
</div>